{% extends 'bootstrap/base.html' %}

{% block title %}
    {{ title }} - CMSC 508 Project
{% endblock %}

{% block navbar %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/index">CMSC 508 Project</a>
                </div>
                <ul class="nav navbar-nav">
                <li class="active"><a href="/apply">Apply to Adopt</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/dashboard">Dashboard</a></li>
                <li class="active"><a href="/login">Employee Login</a></li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid" style="min-height:100% width:70%">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      {{message}}
                  </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
{% endblock %}