{% extends "base.html" %}

{% block content %}
<div class="container-fluid" style="min-height:100% width:70%">
                <h1>Employee Dashboard</h1>
                <p>Here you can find all the database transaction options available only to employees.</p>
                <ul>
                    <li><a href="/dashboard/addanimal">Add animal</a></li>
                    <li><a href="/dashboard/addworker">Add worker</a></li>
                    <li><a href="/dashboard/viewapps">See all applications</a></li>
                    <li><a href="/logout">Log out</a></li>                
                </ul>
<h2>Applications</h2>
<table border="1" cellpadding="20" cellspacing="20">
        <tr>
            <td>App ID</td>
            <td>Person ID</td>
            <td>Animal ID</td>
            <td>Application Date</td>
            <td>Status</td>
        </tr>
 
    {% for app in apps %}
        <tr>
            <td>{{app[0]}}</td>
            <td>{{app[1]}}</td>
            <td>{{app[2]}}</td>
            <td>{{app[3]}}</td>
            <td>{{app[4]}}</td>
        </tr>
    {% endfor %}
</table>
</div>
{% endblock %}